<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <script src="navbar.js" defer></script>
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="brand-title">ООО "Рога и копыта"</div>
        <a href="#" class="toggle-botton">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="workers">Сотрудники</a></li>
                <li><a href="projects">Проекты</a></li>
                <li><a href="/">Выйти</a></li>
            </ul>
        </div>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>